@import "katex/dist/katex.min.css";
.comp-line {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}
.input-box {
    padding: 10px;
    border: 1px solid var(--border, #ccc);
    min-height: 200px;
    min-width: 500px;
    display: flex;
    align-items: flex-start;
}
.input-box:focus {
    outline: 2px solid #6aa3ff;
    outline-offset: 2px;
}
.output-box {
    padding: 10px;
    border: 1px solid var(--border, #ccc);
    min-height: 200px;
    min-width: 200px;
}

/* ------------------------------------------------ */
.interactive-expr {
    display: inline-flex;
    margin: 0.5rem 0.5rem;
    font-size: var(--font-size, 0.1rem);
    border: 1px solid var(--border, #ccc);
}

.floating-caret {
    margin-top: 0.5rem;
}

.caret {
    display: inline-block;
    width: 1px;
    height: 1em;
    background: currentColor;
    animation: blink 1s step-end infinite;
}

.literal {
    display: inline-flex;
    align-items: center;
    /*height: 1em;*/
    /*border: 1px solid var(--border, #ccc);*/
}

.space {
    margin-right: 0.2rem;
}

.binary-expression {
    display: inline-flex;
    align-items: center;
    margin-right: 0.2rem;
    height: var(--height, 1em);
    /*border: 1px solid var(--border, #ccc);*/
}

.fraction {
    display: inline-flex;
    flex-direction: column;
    padding: 0em 0.2em;
}

.fraction .denominator {
    border-top: 1px solid var(--border, #ccc);
}
.fraction .numerator {
    border-bottom: 1px solid var(--border, #ccc);
}

.paren-expr {
    display: inline-flex;
    align-items: center;
    margin: 0rem 0.2rem;
    /*border: 1px solid var(--border, #ccc);*/
}

.paren-inner {
    display: inline-flex;
    align-items: center;
}

.paren {
    /*border: 1px solid var(--border, #ccc);*/
    display: inline-flex;
    transform: scaleY(var(--paren-scale, 1));
    transform-origin: center;
}

.exp {
    display: inline-flex;
    align-items: flex-end;
    margin-top: calc(-1 * var(--exp-padding, 0px));
    border: 1px solid var(--border, #ccc);
}

.exp-base {
    display: inline-flex;
    align-items: center;
    /*border: 1px solid var(--border, #ccc);*/
}

.exp-exponent {
    display: inline-flex;
    align-items: center;
    font-size: 0.75em;
    margin-left: -0.1rem;
    margin-bottom: var(--exp-offset, 0.5em);
    /*border: 1px solid var(--border, #ccc);*/
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}
