@import "katex/dist/katex.min.css";
.comp-line {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}
.input-box {
    white-space: pre;
    padding: 10px;
    border: 1px solid var(--border, #ccc);
    min-height: 200px;
    cursor: text;
    min-width: 500px;
}
.input-box:focus {
    outline: 2px solid #6aa3ff;
    outline-offset: 2px;
}
.output-box {
    padding: 10px;
    border: 1px solid var(--border, #ccc);
    min-height: 200px;
    min-width: 200px;
}
.caret {
    display: inline-flex;
    width: 1px;
    height: 1em;
    background: currentColor;
    animation: blink 1s step-end infinite;
}

.interactive-expr {
    display: inline-flex;
    margin: 0.1em 0.1em;
    align-items: center;
    /*border: 1px solid var(--border, #ccc);*/
}

.number-literal {
    display: inline-flex;
    margin: 0.1em 0.2em;
    align-items: center;
    /*border: 1px solid var(--border, #ccc);*/
}

.fraction {
    /*border: 1px solid var(--border, #ccc);*/
    display: inline-flex;
    flex-direction: column;
    align-items: stretch; /* makes both slots share the same width */
    justify-content: center;
    line-height: 1.2;
}

.fraction .numerator,
.fraction .denominator {
    display: block;
    text-align: center;
    padding: 0.1em 0em;
    /*border: 1px solid var(--border, #ccc);*/
    margin: 0.1em 0.3em;
}

.fraction .denominator {
    border-top: 1px solid var(--border, #ccc); /* fraction bar */
    margin-top: 0.2em;
}
.fraction .numerator {
    border-bottom: 1px solid var(--border, #ccc); /* fraction bar */
    margin-bottom: -0.3em;
}

.paren-expr {
    display: inline-flex;
    align-items: center;
    margin: 0em 0.2em;
    /*border: 1px solid var(--border, #ccc);*/
}

.paren-inner {
    display: inline-flex;
    align-items: center;
}

.paren {
    /*border: 1px solid var(--border, #ccc);*/
    display: inline-flex;
    transform: scaleY(var(--paren-scale, 1));
    transform-origin: center;
}

.exp {
    display: inline-flex;
    align-items: baseline;
}

.exp-base {
    display: inline-flex;
    align-items: center;
}

.exp-exponent {
    transform: translateY(var(--exp-offset, -0.4em));
    display: inline-flex;
    align-items: center;
    font-size: 0.75em;
    margin-left: -0.1em;
    /*border: 1px solid var(--border, #ccc);*/
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}
