.calc-area { 
  display: inline-flex;
  flex-direction: column;
  border: 1px solid white;
  border-radius: 1rem;

}

.calc-row { 
  display: inline-flex;
  flex-direction: row;
  border-bottom: 1px solid white;
}

.remove-button { 
  /* border: 1px solid white; */
  /* background: transparent; */
  /* border-left: 1px solid white; */
  /* border-bottom: 1px solid white; */
  /* border-top: 1px solid white; */
  width: 2rem;
  background: transparent;
  border: 0px;
  border-right: 1px solid white;
  /* border-bottom: 1px solid white; */
}

.add-button { 
  background: transparent;
  border: 0px;
  border-top: 1px solid white;
  height: 2rem;
  /* border-left: 1px solid white; */
  /* border-bottom: 1px solid white; */
}
