.main { 
  width: 100%;
}

.head { 
  border-bottom: 1px solid white;
  height: 4rem;
  width: 100%;
}
.body { 
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 1rem;

}


.calc-area { 
  display: inline-flex;
  flex-direction: column;
  margin-right: 1rem;
}

.calc-row { 
  display: inline-flex;
  flex-direction: row;
  margin-top: 1rem;
  border: 1px solid white;
  border-radius: 1rem;
}

.remove-button { 
  width: 2rem;
  background: transparent;
  border: 0px;
}

.add-button { 
  margin-top: 1rem;
  background: transparent;
  border: 1px solid white; 
  border-radius: 1rem;
  height: 2rem;
}

.graph-area { 
  margin-top: 1rem;
  margin-left: 1rem;
  height: 50rem;
  flex: 1 1 auto;
  min-width: 0;
  border : 1px solid white;
  border-radius: 1rem;
  
}
