.calc-area { 
  display: inline-flex;
  flex-direction: column;
}

.calc-row { 
  display: inline-flex;
  flex-direction: row;
  /* border: 1px solid green; */
}

.remove-button { 
  /* border: 1px solid white; */
  /* background: transparent; */
  border-left: 1px solid white;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
}

.add-button { 
  /* border-left: 1px solid white; */
  border-bottom: 1px solid white;
}
