.main { 
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.head { 
  border-bottom: 1px solid white;
  height: 4rem;
  width: 100%;
}
.body { 
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 1rem;
  min-height: 0;
}


.calc-area { 
  display: inline-flex;
  flex-direction: column;
  margin-right: 1rem;
  max-height: 100%;
  overflow-y: auto;
}

.calc-row { 
  display: inline-flex;
  flex-direction: row;
  margin-top: 1rem;
  border: 1px solid white;
  border-radius: 1rem;
}

.remove-button { 
  width: 2rem;
  background: transparent;
  border: 0px;
}

.add-button { 
  margin-top: 1rem;
  background: transparent;
  border: 1px solid white; 
  border-radius: 1rem;
  height: 2rem;
}

.graph-button { 
  width: 2rem;
  background: transparent;
  border: 0px;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-left: 1px solid "#AAAAAA";
}

.graph-area { 
  margin-top: 1rem;
  flex: 1 1 auto;
  min-width: 0;
  min-height: 0;
  border : 1px solid white;
  border-radius: 1rem;
  overflow: hidden;
}
